body { background: #7fc663; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 41px; display: flex; }
.block-validator-0 { color: #208060; font-size: 18px; margin-bottom: 5px; }
.block-token-1 { color: #83e5e4; font-size: 19px; margin-bottom: 5px; }
.block-auth-2 { color: #93ad09; font-size: 18px; margin-bottom: 5px; }
.block-token-3 { color: #423eb1; font-size: 16px; margin-bottom: 5px; }
.block-notify-4 { color: #5142cb; font-size: 14px; margin-bottom: 5px; }